.contact
    display: flex
    box-shadow: -6px 6px 15px -5px #000000
    margin: 20px

.leftSection
    flex-grow: 0.2
    background-color: #28725C
    color: white
    padding: 10px

.rightSection
    flex-grow: 0.8
    background-color: #F3F3F3
    color: black
    padding: 20px 100px 20px 5px

.contactData
    display: flex
    flex-direction: column
    justify-content: center

.contactDelete
    color: #D8888A
    font-size: 12px
    cursor: pointer

.contactArrow
    position: relative
    left: 50%

.footerContainer
    align-items: center
    display: flex
    justify-content: space-between

.contactId
    color: #3EB08D
    font-weight: bold