<div class="contact">
  <div class="leftSection">
    <i class="fas fa-user"></i>
  </div>
  <div class="rightSection">
    <div class="contactData">
      <span class="contactId"> ID: {{contact.id}} </span>
      <span> {{contact.name | firstUpperCaseLetter}} </span>
      <span> {{contact.lastName | firstUpperCaseLetter}} </span>
    </div>
    <br>
    <div class="footerContainer">
      <div 
        class="contactDelete"
        (click)="onDeleteContact(contact.id)"> 
          <i class="far fa-trash-alt"></i> 
          DELETE THE CONTACT
      </div>
      <i [routerLink]="[ '/contacts', contact.id ]" class="far fa-arrow-alt-circle-right contactArrow"></i>
    </div>
  </div>
</div>
